In [1]:
import pandas as pd
import csv
import os

In [2]:
csv_path = os.path.join("Data", "zip_list.csv")

with open(csv_path,"r",newline="\n") as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=",")
    
    ## Build List of Zip and County
    zip_ = []
    county = []
    
    for row in csv_reader:
        zip_.append(row[0])
        county.append(row[1])

In [3]:
## Build a Panda DataFrame
initial_dict = {"Zipcode": zip_,
                 "County": county}

In [4]:
austin_zips_df = pd.DataFrame(initial_dict)
austin_zips_df.head(2)

  Zipcode  County
0   73301  Travis
1   73344  Travis

In [5]:
austin_master_df = austin_zips_df.astype({'Zipcode': 'int64'},)
austin_master_df.head()

   Zipcode      County
0    73301      Travis
1    73344      Travis
2    78681  Williamson
3    78701      Travis
4    78702      Travis

In [6]:
census_file_2015 = "Data/2015_census_data.csv"
census_file_2016 = "Data/2016_census_data.csv"
census_file_2017 = "Data/2017_census_data.csv"

In [7]:
census_2015_df = pd.read_csv(census_file_2015)

In [8]:
trim_2015_df = austin_master_df.merge(census_2015_df, on="Zipcode", how="inner")
trim_2015_df = trim_2015_df[["Zipcode", "Population"]]
trim_2015_df = trim_2015_df.rename(columns = {"Population": "2015_Population"})
trim_2015_df.head(4)

   Zipcode  2015_Population
0    78681          54923.0
1    78701           7051.0
2    78702          21477.0
3    78703          20530.0

In [9]:
census_2016_df = pd.read_csv(census_file_2016)
trim_2016_df = pd.merge(trim_2015_df, census_2016_df, on="Zipcode", how="inner")
trim_2016_df = trim_2016_df[["Zipcode", "2015_Population", "Population"]]
trim_2016_df = trim_2016_df.rename(columns = {"Population": "2016_Population"})
trim_2016_df.head(3)

   Zipcode  2015_Population  2016_Population
0    78681          54923.0          56086.0
1    78701           7051.0           7401.0
2    78702          21477.0          22617.0

In [10]:
census_2017_df = pd.read_csv(census_file_2017)
trim_2017_df = pd.merge(trim_2016_df, census_2017_df, on="Zipcode", how="inner")
trim_2017_df = trim_2017_df[["Zipcode", "2015_Population", "2016_Population", "Population"]]
trim_2017_df = trim_2017_df.rename(columns = {"Population": "2017_Population"})
trim_2017_df.head(3)

   Zipcode  2015_Population  2016_Population  2017_Population
0    78681          54923.0          56086.0          57234.0
1    78701           7051.0           7401.0           7875.0
2    78702          21477.0          22617.0          22876.0

In [11]:
trim_2017_df.to_csv("Data/upto_2017_population.csv", index = False)